@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", serif;
}
